<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- view -->
   <extension point="org.eclipse.ui.views">
      <category
            name="Naming Counter"
            id="namingcounter">
      </category>
      <view
            name="Count Result"
            category="namingcounter"
            class="namingcounter.views.NamingCountView"
            id="namingcounter.views.NamingCountView">
      </view>
   </extension>
   
   <!-- what? -->
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="namingcounter.views.NamingCountView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <!-- ファイル単位で選択させたい場合はobjectContribution２つ作って、objectClass org.eclipse.core.resources.IFileにするのかな -->
   <!-- popup -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="objectContribution1">
         <menu label="Naming Counter"
               id="namingcounter.menu"
               path="additions">
            <separator name="count" />
         </menu>
         <action label="count"
               class="namingcounter.CountAction"
               id="NamingCountAction"
               menubarPath="namingcounter.menu/count">
         </action>
      </objectContribution>
   </extension>
   
   <!--
   <extension point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   -->
   
</plugin>
